{% extends "layouts/base.njk" %}
{% block content %}
  <div class="wrapper flow">
    <section class="intro">
      <h1>Alex Blackwell</h1>
      <p><i>UX Designer</i></p>
      <p>I'm a multidisciplinary developer and designer, passionate about ethics and accessibility.</p>
    </section>
    <section class="posts">
      <h2>Posts</h2>
      {% set postListItems = collections.blog %}
      {% include "partials/post-list.njk" %}
    </section>
    <section class="projects">
      <h2>Projects</h2>
      {# {% set projectListItems = collections.projects %}
      {% include "partials/project-list.njk" %} #}
    </section>
  </div>
{% endblock %}